

/* 메인_헤더 로고 (스프링) */
.Main-headerLogo {
    width: 100; 
    height: 4vmin;
    pointer-events: none;
  }
  /* 메인_헤더*/
  .Main-header{
    background-color: #FFFCED;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;  /* 세로축을 기준으로 정렬*/
    justify-content: center;  /* 가로 축을 기준으로 정렬*/
  }
  
  /* 메인_바디 배경화면 로고(꽃)*/
  .Main-bodyLogo {
    height: 55vmin;
    pointer-events: none;
  }
  
  /* 메인_바디*/
  .Main-body {
    background-color: #FFFCED;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(35px + 3vmin);
    color: #958477;
    font-family: 'Nanum Pen Script';
  }
  
  /* 메인_hr태그*/
  .Main-hr{
    border-color: #958477;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    width: 100%;
  }
  
  .Main-btn{
      position: relative;
      border: none;
      display: inline-block;
      padding: 15px 30px;
      border-radius: 15px;
      font-family: 'Nanum Pen Script';
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
      text-decoration: none;
      font-weight: 600;
      transition: 0.25s;
  }
  
  .Main-btn-color {
    background-color: #958477;
    color: #e3dede;
  }
  .Main-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .Main-footer {
    background-color: #FFFCED;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;  /* 세로축을 기준으로 정렬*/
    justify-content: center;  /* 가로 축을 기준으로 정렬*/
  }
  
  /* 나눔손글씨펜 폰트*/
  @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
  .nanumpenscript * {
   font-family: 'Nanum Pen Script', cursive;
  }
  