/* 전체 영역 사이즈 조정*/
.container {
    width: 60%;
    flex: 1;
    justify-content: "center";
    font-family: 'Nanum Pen Script';
}

/* 글씨체 적용 */  
.Memory-record-font{
    font-family: 'Nanum Pen Script';
}

/* 탭 버튼 */
.Memory-button{
    font-family: 'Nanum Pen Script';
    font-size: 25px;
    color: var(--bs-gray-800);
    
}

/* 나눔손글씨펜 폰트*/
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
.nanumpenscript * {
    font-family: 'Nanum Pen Script', cursive;
}