/* 전체 영역 사이즈 조정*/
.container {
    background-color: #fff;
    width: 60%;
    flex: 1;
    justify-content: "center";
    font-family: 'Nanum Pen Script';
    /* background-color: chartreuse; */
}



/* 추억여행 타이틀*/
#memory-title {
    padding-top: 10px;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
}

/* 사진 레이아웃 지정(그리드) */
.photo-layout {
    display: grid;
    height: outo;
    /* background-color: #86b7fe; */
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

/* 사진 + 날짜(장소) 버튼 */
.photo-layout-block {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1% 2%;

}

/* 이미지 크기 지정 */
.phone-image {
    width: 100%;
}

.photo-btn {
    background-color: transparent;
    border: 0;
    font-size: 25px;
}

.div-search {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 10px 10px;
    width: 70%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 3rem;
    /* transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */

}


.search-floating {
    width: 25%;
    position: relative;
}

.search-floating>.search-st {
    font-size: 18px;
    border: none;
    height: calc(2.5rem);
    padding: 1rem 0.75rem;
    margin-top: 10px;
}

.search-floating>.search-st:focus {
    border-color: #ffffff;
    outline: 0;
    /* border:none; */
}

.search-floating>label {
    position: absolute;
    top: -12px;
    left: 0;
    color: #343a40;
    font-size: 15px;
    padding: 8px;
}

.search-datapicker {
    width: 30%;
    position: relative;
}

.search-datapicker>label {
    position: absolute;
    top: -12px;
    left: 0;
    color: #343a40;
    font-size: 15px;
    padding: 8px;
}

.datapicker-style {
    
    font-size: 18px;
    border: none;
    height: calc(2.5rem);
    padding: 1rem 0.75rem;
    margin-top: 10px;

}

.datapicker-style:focus {
    border-color: #ffffff;
    outline: 0;
    /* border:none; */
}

.div-search-btn{

    position: relative;

    
}
.search-btn{
    width:calc(3rem);
    height: calc(3rem);
    border-radius: 3rem;
    border: none;
    background-color: #958477;
}

.search-image{
    width: 50%;
    height: 40%;
}




/* 나눔손글씨펜 폰트*/
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.nanumpenscript * {
    font-family: 'Nanum Pen Script', cursive;
}