
.tab-photo-layout{
    display: grid;
    height: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.tab-phone-image{
    width: 100%;
    margin: 1% 2%;
}

.tab-button{
    padding: 0%;
    border: 0ch;
    background-color: white;
}